body {
    
    font-family: verdana, sans-serif, arial;

}

    #container1, #container2 {

        background-color: #E8E8EE;
        margin-top: 5em;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 4px;

    }
    
    #knapp1 {
       
    }
    
    .col {
        
        
        
    }
    
    
    
    @media only screen and (max-device-width: 480px) {
        
        select {
            
            
            
        }
        
    }